@inherits LayoutComponentBase

<PageTitle>Blazor</PageTitle>
<div class="page">
    <main class="">
        <div class="bg-gray-500 flex justify-between px-16 py-4 text-white font-bold">
            <span>
                Blazor
            </span>
            <span>
                Made By Poorya
            </span>
        </div>
        <main class="bg-gray-900 min-h-screen px-16 py-8">
            @Body
        </main>
    </main>
</div>
